<p>home works!</p>
<h3>Welcome {{userId}}</h3>

<!-- <ag-grid-angular style="width: 500px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
    [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef">
</ag-grid-angular> -->

<ag-grid-angular style="width: 1000px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
    [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef"
    [treeData]="true" [groupDefaultExpanded]="groupDefaultExpanded" [getDataPath]="getDataPath">
</ag-grid-angular>